Type System: C# is a strongly typed language. Every variable and constant has a type, as does every expression that evaluates to a value. Every method declaration specifies a name, the type and kind (value, reference or output) for each input parameter and for the return value.
Null Handling: Normally in Java we would do: if (x == "null"){} but in C# we can take care of this from a different approach. First of all we can do string? x; meaning that maybe x will be null. And then, to check for null we just do x ??= 10;. If x is null, we add a value to it this way. This is the way to check for null in C#.
